/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2015, 3:13:37 PM
    Author     : christine
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : June 17, 2015, 3:13:37 PM
    Author     : christine
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000339}}
#main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5, #main-content h6 {
  color: #ff9900;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000344}}
#breadcrumb {
  margin: 0 0 30px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000346}}
#breadcrumb span {
  font-size: 86%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000347}}
#breadcrumb .active {
  color: #ff9900;
  font-weight: 600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000353}}
#iit-gf-links a.subtle-link {
  color: #222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000357}}
.sidebar p {
  margin: 0 0 .3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000362}}
input#edit-keys {
  border: 1px solid #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000364}}
.views-submit-button {
  margin: -25px 0 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000367}}
.search-item-result {
  margin: 0.8em 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000373}}
.div-col .col-2 {
  margin: 0 0 2em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000376}}
.div-col .view-grouping-header {
  clear: both;
  -webkit-font-smoothing: antialiased;
  border-bottom-color: #ff9900;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #ff9900;
  display: block;
  font-family: oswald, sans-serif;
  font-size: 31px;
  font-weight: 300;
  height: 46px;
  line-height: 46.5px;
  margin-bottom: 24.7999992370605px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 6.19999980926514px;
  padding-bottom: 3.09999990463257px;
  width: 743px;
  word-wrap: break-word;
  zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000381}}
.div-col .view-grouping-content .view-grouping .view-grouping-header {
  -webkit-font-smoothing: antialiased;
  color: #ff9900;
  display: block;
  font-family: oswald, sans-serif;
  font-size: 23px;
  font-weight: 300;
  font-weight: 300;
  border: none;
  letter-spacing: 1px;
  line-height: 34.5px;
  margin-bottom: 5.75px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 23px;
  text-transform: uppercase;
  width: 743px;
  word-wrap: break-word;
  zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000385}}
.div-col .view-grouping-content h3 {
  -webkit-font-smoothing: antialiased;
  color: #ff9900;
  display: block;
  font-family: oswald, sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 27px;
  letter-spacing: 1px;
  line-height: 27px;
  margin-bottom: 4.5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 18px;
  text-transform: uppercase;
  width: 743px;
  word-wrap: break-word;
  zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000388}}
.div-col .view-grouping-content strong {
  color: #666666;
}

@media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000396}}
  .two-columns .col1 {
    width: 70%;
    float: left;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003105}}
.database {
  margin: 10px 0px 20px;
  border-bottom: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003108}}
.database .title {
  font-weight: 600;
  margin: 0 0 .2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003114}}
.attachment-before {
  margin: 0 0 3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003120}}
.view-content table, .view-content tbody, .view-content table tr {
  border: none;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003127}}
tr.db-content td {
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003131}}
tr.db-content td:first-child {
  width: 30%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003135}}
.content-header-columns .view-content {
  clear: both;
  margin-bottom: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003140}}
.content-header-columns .view-id-databases_subject_list {
  border: 1px solid #888888;
  padding: 1em;
  margin-bottom: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003144}}
.content-header-columns .view-id-databases_subject_list .view-header p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003145}}
.content-header-columns .view-id-databases_subject_list .view-content {
  margin: 0;
}

@media only screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003153}}
  .content-header-columns .column {
    width: 44%;
    float: left;
    margin-right: .6em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003159}}
  .content-header-columns .view-id-databases_subject_list {
    width: 44%;
    float: right;
  }
}
@media only screen and (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003166}}
  #main-content {
    padding-right: 2em;
  }
}
