/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2015, 3:13:37 PM
    Author     : christine
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000323}}
.header-mimic {
  padding: 6px 4px 2px 4px;
  font-family: EconomicaBold-IIT, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  background: rgba(102, 102, 102, 0.7);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000332}}
.header-font {
  font-family: EconomicaBold-IIT, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000340}}
#breadcrumb {
  margin: 0 0 30px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000342}}
#breadcrumb span {
  font-size: 86%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000345}}
#iit-gf-links a.subtle-link {
  color: #222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000349}}
.sidebar p {
  margin: 0 0 .3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000354}}
input#edit-keys {
  border: 1px solid #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000356}}
.views-submit-button {
  margin: -25px 0 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000361}}
.database {
  margin: 10px 0px 20px;
  border-bottom: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000364}}
.database .title {
  font-weight: 600;
  margin: 0 0 .2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000370}}
.attachment-before {
  margin: 0 0 3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000376}}
.view-content table, .view-content tbody, .view-content table tr {
  border: none;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000383}}
tr.db-content td {
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000387}}
tr.db-content td:first-child {
  width: 30%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000391}}
.content-header-columns .view-content {
  clear: both;
  margin-bottom: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\0000396}}
.content-header-columns .view-id-databases_subject_list {
  border: 1px solid #888888;
  padding: 1em;
  margin-bottom: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003100}}
.content-header-columns .view-id-databases_subject_list .view-content {
  margin: 0;
}

@media only screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003108}}
  .content-header-columns .column {
    width: 44%;
    float: left;
    margin-right: .6em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/iit_web_galvin\/sass\/galvin\.scss}line{font-family:\00003114}}
  .content-header-columns .view-id-databases_subject_list {
    width: 44%;
    float: right;
  }
}
