/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : June 17, 2015, 3:13:37 PM
    Author     : christine
*/
@mixin mimic-H2{
  -webkit-font-smoothing: antialiased;
  border-bottom-color: $headerColors;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: $headerColors;
  display: block;
  font-family: oswald, sans-serif;
  font-size: 2em;
  font-weight: 300;
  height: 46px;
  line-height:1.5;
  margin: .2em 0 .8em 0;
  padding-bottom: .1em;
  word-wrap: break-word;
  zoom: 1;  
}

@mixin mimic-H3{
  -webkit-font-smoothing: antialiased;
  color: $headerColors;
  display: block;
  font-family: oswald, sans-serif;
  font-size: 23px;
  font-weight: 300;
  font-weight: 300;
  border:none;
  letter-spacing: 1px;
  line-height: 34.5px;
  margin-bottom: 5.75px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 23px;
  text-transform: uppercase;
  width: 743px;
  word-wrap: break-word;
  zoom: 1;  
}

@mixin mimic-H4{
  -webkit-font-smoothing: antialiased;
  color: $headerColors;
  display: block;
  font-family: oswald, sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 27px;
  letter-spacing: 1px;
  line-height: 27px;
  margin-bottom: 4.5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 18px;
  text-transform: uppercase;
  width: 743px;
  word-wrap: break-word;
  zoom: 1;
}

@mixin sidebar-search-button {
  color: #fff;
  background-color: #666;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed',sans-serif;
  font-size: 1.06667em;
  font-weight: bold;
  padding: .25em .5em;
  display: inline-block;
  margin:0;
  float:right;
  border:none;
}
