/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2015, 3:13:37 PM
    Author     : christine
*/

// IIT Web colors
$ltGrey: rgb(136,136,136);
$medGrey: rgb(102,102,102);
$dkGrey: rgb(68,68,68);
$crimson: rgb(109,3,3);
$red: rgb(192,12,0);
$yellow: rgb(255,153,0);

$headerFont: EconomicaBold-IIT, sans-serif;
$borderColor: $ltGrey;

// General look
.header-mimic{
  padding: 6px 4px 2px 4px;
  font-family: $headerFont;
  font-size: 1.2em;  
  text-transform: uppercase;
  color: white;
  background: rgba(102,102,102,.7); //mdGrey 
}

.header-font{
  font-family: $headerFont;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #666666;
}


#breadcrumb{
  margin: 0 0 30px 0;
  span{font-size:86%;}
}

#iit-gf-links a.subtle-link{color: #222;}

//sidebar

.sidebar p{
  margin:0 0 .3em 0;
}

//form items
input#edit-keys {border: 1px solid $medGrey;}

.views-submit-button{margin: -25px 0 0 20px;}

// search results page
.search-item-result{
  margin: 0.8em 0px;
}

//create table-like elements using divs that are responsive:
.col-4{
    margin: 0 0 2em 0;
}
@media only screen and (min-width:980px){
  .col-4{
      margin:0 0 4em 0;
    .col{
      float:left;
      width: 30%;
    }
    .col + .col + .col, .col + .col + .col + .col{
      width:20%;
    }
    .col:first-child{
      clear:both;
    }
  }
  .div-col {
    .view-grouping-header, h3{
      clear:both;
    }
  }
  
}

// E-Resource customizations

.database {
  margin: 10px 0px 20px;
  border-bottom: 1px solid rgb(204, 204, 204);
  .title {
    font-weight:600;
    margin:0 0 .2em 0;
  }  
}

.attachment-before {
  margin: 0 0 3em 0;
}

// this is not database-specific, but cannot apply an id or class to a grid
.view-content{
    table, tbody, table tr{
    border:none;
    background:none;
  }
}

tr.db-content {
  td{  
    padding:10px 0;
    border-bottom: 1px solid #cccccc;
  }
  td:first-child {width: 30%;}
}

//have this outside media query for white space
  .content-header-columns .view-content{
    clear:both;
    margin-bottom:3em;
  }
 
  .content-header-columns .view-id-databases_subject_list {
    border: 1px solid $borderColor;
    padding: 1em;
    margin-bottom: 1.4em;
    .view-header p{margin:0;}
    .view-content{
      margin:0;
    }
}
  
@media only screen and (min-width:600px){
  
 //create columns with two view headers (such as dbs by subject)
  .content-header-columns .column {
    width: 44%;
    float: left;
    margin-right: .6em;
  }

  .content-header-columns .view-id-databases_subject_list {
    width: 44%;
    float: right;
  }
}// end media query

@media only screen and (min-width:800px){
  #main-content {
    padding-right: 2em;
  } // breathing room for sidebar 
}